Options +FollowSymLinks
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
ErrorDocument 404 http://hazken.com/wrong_page
Rewriterule ^wrong_page$ error-404.html 
Rewriterule ^home$ index.php
Rewriterule ^about_us$ aboutus.html
Rewriterule ^web_design$ blog_page3.html 
Rewriterule ^graphic_design$ blog_page15.html 
Rewriterule ^wedding_iv$ blog_page23.html 
Rewriterule ^office_stationery$ blog_page52.html 
Rewriterule ^website_design$ blog_page51.html 
Rewriterule ^uiux_designs$ blog_page53.html 
Rewriterule ^brochures$ blog_page5.html 
Rewriterule ^greetings_card$ blog_page38.html 
Rewriterule ^customized_gifts$ blog_page41.html 
Rewriterule ^throw_pillows$ blog_page24.html 
Rewriterule ^paper_bags$ blog_page6.html 
Rewriterule ^notepads$ blog_page13.html 
Rewriterule ^mugs$ blog_page48.html 
Rewriterule ^businesscards$ blog_page10.html 
Rewriterule ^billboard_branding$ blog_page7.html 
Rewriterule ^posters$ blog_page2.html 
Rewriterule ^calendars$ blog_page11.html 
Rewriterule ^large_format_printing$ blog_page31.html 
Rewriterule ^flyers$ blog_page12.html 
Rewriterule ^print$ blog_page9.html 
Rewriterule ^letterhead_&_envelopes$ blog_page47.html 
Rewriterule ^t-shirts$ blog_page49.html 
Rewriterule ^id_cards$ blog_page17.html 
Rewriterule ^wedding_cards$ blog_page22.html 
Rewriterule ^notebooks$ blog_page56.html 
Rewriterule ^leaflets$ blog_page43.html 
Rewriterule ^bifold&trifold_brochures$ blog_page55.html 
Rewriterule ^logo_signage$ blog_page39.html 
Rewriterule ^pillow_prints$ blog_page57.html 
Rewriterule ^rollup_banners$ blog_page16.html 
Rewriterule ^backdrop_banners$ blog_page54.html 
Rewriterule ^exercise_book&notebooks$ blog_page27.html 
Rewriterule ^banners$ blog_page60.html 
Rewriterule ^x_banners$ blog_page61.html 
Rewriterule ^vehicle_car&bus_branding$ blog_page62.html 
Rewriterule ^frames$ blog_page63.html 
Rewriterule ^uiux_design$ blog_page32.html 
Rewriterule ^business_cards_print$ blog_page35.html 
Rewriterule ^magic_mugs$ blog_page64.html 
Rewriterule ^programme_of_events$ blog_page26.html 
Rewriterule ^magazines_yearbooks$ blog_page28.html 
Rewriterule ^receipt_invoice_waybill_prints$ blog_page65.html 
Rewriterule ^tote_bags$ blog_page66.html 
Rewriterule ^design&print$ blog_page25.html 
Rewriterule ^stickers$ blog_page67.html 
Rewriterule ^nylon_bags$ blog_page68.html 
Rewriterule ^iPhone&Phone_cases$ blog_page46.html 
Rewriterule ^cartoon_design$ blog_page69.html 
Rewriterule ^customized_pen$ blog_page70.html 
Rewriterule ^customized_mousepad$ blog_page71.html 
Rewriterule ^vinyl&sticker_pasting$ blog_page72.html 
Rewriterule ^wall_clock$ blog_page73.html 
Rewriterule ^table_top$ blog_page74.html 
Rewriterule ^printed_keyholders$ blog_page75.html 
Rewriterule ^water_bottle_print$ blog_page76.html 
Rewriterule ^cloths_woven$ blog_page77.html 
Rewriterule ^customized_wallets$ blog_page78.html 
Rewriterule ^customized_bedside_lamp$ blog_page79.html 
Rewriterule ^customized_alarm_clock$ blog_page80.html 
Rewriterule ^courier_bags$ blog_page81.html 
Rewriterule ^simple_mugs$ blog_page82.html 
Rewriterule ^single-sided-business-cards$ blog_page83.html 
Rewriterule ^double-sided-business-cards$ blog_page84.html 
Rewriterule ^lanyards$ blog_page85.html 
Rewriterule ^bifold_brochure$ blog_page86.html 
Rewriterule ^trifold_brochure$ blog_page87.html 
Rewriterule ^a6_flyers$ blog_page88.html 
Rewriterule ^a5_flyers$ blog_page89.html 
Rewriterule ^a4_flyers$ blog_page90.html 
Rewriterule ^full-color_idcards$ blog_page91.html
Rewriterule ^custom_flask$ blog_page92.html  
Rewriterule ^company_seal$ blog_page93.html 
Rewriterule ^rubber&dater_stamp$ blog_page94.html
Rewriterule ^travel_mugs$ blog_page95.html 
Rewriterule ^monogram_design$ blog_page96.html   
Rewriterule ^glass_sign$ blog_page97.html
Rewriterule ^3d_logo_sign$ blog_page98.html   
Rewriterule ^pylon_sign$ blog_page99.html   
Rewriterule ^polo_tshirts$ blog_page100.html  
Rewriterule ^wedding_programme$ blog_page101.html 
Rewriterule ^glitters-businesscards$ blog_page102.html 
Rewriterule ^a2-wall-calendars$ blog_page103.html 
Rewriterule ^a3-wall-calendars$ blog_page104.html 
Rewriterule ^table-calendars$ blog_page105.html 
Rewriterule ^round-neck$ blog_page106.html 
Rewriterule ^acrylic_wedding_cards$ blog_page107.html 
Rewriterule ^letterheads$ blog_page108.html 
Rewriterule ^envelopes$ blog_page109.html 
Rewriterule ^vinyl_balloon$ blog_page110.html 
Rewriterule ^logo_design$ blog_page111.html 
Rewriterule ^woven_labels$ blog_page112.html 
Rewriterule ^cloth_tags$ blog_page113.html 
Rewriterule ^magic_throw_pillows$ blog_page114.html 
Rewriterule ^singlet_nylons$ blog_page115.html 
Rewriterule ^Award_plaque$ blog_page116.html
Rewriterule ^Cap_print$ blog_page117.html
Rewriterule ^premium_wedding_cards$ blog_page118.html
Rewriterule ^flash_drive$ blog_page119.html
Rewriterule ^pylon_signage$ blog_page120.html
Rewriterule ^company_signs$ blog_page121.html
Rewriterule ^instagram_frame$ blog_page122.html
Rewriterule ^funeral_programme$ blog_page123.html
Rewriterule ^golden_metal_businesscard$ blog_page124.html
##Force SSL
#Normal way (in case you need to deploy to NON-heroku)
RewriteCond %{HTTPS} !=on
#Heroku way
RewriteCond %{HTTP:X-Forwarded-Proto} !https
#If neither above conditions are met, redirect to https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]