Options +FollowSymLinks
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
ErrorDocument 404 http://hazken.com/wrong_page
Rewriterule ^wrong_page$ error-404.html 
Rewriterule ^home$ index.php
Rewriterule ^about_us$ aboutus.html
Rewriterule ^web_design$ blog_page3.html 
Rewriterule ^wedding_iv$ blog_page23.html 
Rewriterule ^office_stationery$ blog_page52.html 
Rewriterule ^website_design$ blog_page51.html 
Rewriterule ^uiux_designs$ blog_page53.html 
Rewriterule ^brochures$ blog_page5.html 
Rewriterule ^greetings_card$ blog_page38.html 
Rewriterule ^customized_gifts$ blog_page41.html 
Rewriterule ^throw_pillows$ blog_page24.html 
Rewriterule ^paper_bags$ blog_page6.html 
Rewriterule ^notepads$ blog_page13.html 
Rewriterule ^mugs$ blog_page48.html 
Rewriterule ^businesscards$ blog_page10.html 
Rewriterule ^billboard_branding$ blog_page7.html 
Rewriterule ^posters$ blog_page2.html 
Rewriterule ^shomolu_prints$ blog_page4.html 
Rewriterule ^calendars$ blog_page11.html 
Rewriterule ^large_format_printing$ blog_page31.html 
Rewriterule ^flyers$ blog_page12.html 
Rewriterule ^print$ blog_page9.html 
Rewriterule ^letterhead_&_envelopes$ blog_page47.html 
Rewriterule ^t-shirts$ blog_page49.html 
Rewriterule ^id_cards$ blog_page17.html 
Rewriterule ^wedding_cards$ blog_page22.html 
Rewriterule ^print_company$ blog_page33.html 
Rewriterule ^notebooks$ blog_page56.html 
Rewriterule ^leaflets$ blog_page43.html 
Rewriterule ^bifold&trifold_brochures$ blog_page55.html 
Rewriterule ^logo_signage$ blog_page39.html 
Rewriterule ^pillow_prints$ blog_page57.html 
Rewriterule ^rollup_banners$ blog_page16.html 
Rewriterule ^backdrop_banners$ blog_page54.html 
Rewriterule ^exercise_book&notebooks$ blog_page27.html 
Rewriterule ^banners$ blog_page60.html 
Rewriterule ^x_banners$ blog_page61.html 
Rewriterule ^vehicle_car&bus_branding$ blog_page62.html 
Rewriterule ^frames$ blog_page63.html 
Rewriterule ^uiux_design$ blog_page32.html 
Rewriterule ^business_cards_print$ blog_page35.html 
Rewriterule ^magic_mugs$ blog_page64.html 
Rewriterule ^programme_of_events$ blog_page26.html 
Rewriterule ^magazines_yearbooks$ blog_page28.html 
Rewriterule ^receipt_invoice_waybill_prints$ blog_page65.html 
Rewriterule ^tote_bags$ blog_page66.html 
Rewriterule ^design&print$ blog_page25.html 
Rewriterule ^stickers$ blog_page67.html 
Rewriterule ^nylon_bags$ blog_page68.html 
Rewriterule ^iPhone&Phone_cases$ blog_page46.html 
Rewriterule ^cartoon_design$ blog_page69.html 
Rewriterule ^customized_pen$ blog_page70.html 
Rewriterule ^customized_mousepad$ blog_page71.html 
Rewriterule ^vinyl&sticker_pasting$ blog_page72.html 
Rewriterule ^wall_clock$ blog_page73.html 
Rewriterule ^table_top$ blog_page74.html 
Rewriterule ^printed_keyholders$ blog_page75.html 
Rewriterule ^water_bottle_print$ blog_page76.html 
Rewriterule ^customized_wallets$ blog_page78.html 
Rewriterule ^customized_bedside_lamp$ blog_page79.html 
Rewriterule ^customized_alarm_clock$ blog_page80.html 
Rewriterule ^courier_bags$ blog_page81.html 
Rewriterule ^simple_mugs$ blog_page82.html 
Rewriterule ^single-sided-business-cards$ blog_page83.html 
Rewriterule ^double-sided-business-cards$ blog_page84.html 
Rewriterule ^lanyards$ blog_page85.html 
Rewriterule ^bifold_brochure$ blog_page86.html 
Rewriterule ^trifold_brochure$ blog_page87.html 
Rewriterule ^a6_flyers$ blog_page88.html 
Rewriterule ^a5_flyers$ blog_page89.html 
Rewriterule ^a4_flyers$ blog_page90.html 
Rewriterule ^full-color_idcards$ blog_page91.html
Rewriterule ^custom_flask$ blog_page92.html  
Rewriterule ^company_seal$ blog_page93.html 
Rewriterule ^rubber&dater_stamp$ blog_page94.html
Rewriterule ^travel_mugs$ blog_page95.html 
Rewriterule ^monogram_design$ blog_page96.html   
Rewriterule ^glass_sign$ blog_page97.html
Rewriterule ^3d_logo_sign$ blog_page98.html   
Rewriterule ^pylon_sign$ blog_page99.html   
Rewriterule ^polo_tshirts$ blog_page100.html  
Rewriterule ^wedding_programme$ blog_page101.html 
Rewriterule ^glitters-businesscards$ blog_page102.html 
Rewriterule ^a2-wall-calendars$ blog_page103.html 
Rewriterule ^a3-wall-calendars$ blog_page104.html 
Rewriterule ^table-calendars$ blog_page105.html 
Rewriterule ^round-neck$ blog_page106.html 
Rewriterule ^acrylic_wedding_cards$ blog_page107.html 
Rewriterule ^letterheads$ blog_page108.html 
Rewriterule ^envelopes$ blog_page109.html 
Rewriterule ^vinyl_balloon$ blog_page110.html 
Rewriterule ^magic_throw_pillows$ blog_page114.html 
Rewriterule ^singlet_nylons$ blog_page115.html 
Rewriterule ^Award_plaque$ blog_page116.html
Rewriterule ^premium_wedding_cards$ blog_page118.html
Rewriterule ^flash_drive$ blog_page119.html
Rewriterule ^pylon_signage$ blog_page120.html
Rewriterule ^company_signs$ blog_page121.html
Rewriterule ^instagram_frame$ blog_page122.html
Rewriterule ^funeral_programme$ blog_page123.html
Rewriterule ^golden_metal_businesscard$ blog_page124.html
Rewriterule ^awards$ blog_page125.html
Rewriterule ^dome_stickers$ blog_page126.html
Rewriterule ^car_branding$ blog_page127.html
Rewriterule ^phone_case$ blog_page128.html
Rewriterule ^branded_cufflinks$ blog_page129.html
Rewriterule ^kaftan_metal_tag$ blog_page130.html
Rewriterule ^black_metal_tag$ blog_page131.html
Rewriterule ^luxury_button$ blog_page132.html
Rewriterule ^horsebit$ blog_page133.html
Rewriterule ^tag_strings$ blog_page134.html
Rewriterule ^hoodie&Sweatshirt$ blog_page135.html
Rewriterule ^diary$ blog_page136.html
Rewriterule ^teardrop_feather_banner$ blog_page138.html
Rewriterule ^hardbook_print$ blog_page139.html
Rewriterule ^window_graphics$ blog_page140.html
Rewriterule ^hand_fan$ blog_page141.html
Rewriterule ^phytodefence$ blog_page200.html
Rewriterule ^omega-3-salmon-oil-plus$ blog_page201.html
Rewriterule ^pro-vitality$ blog_page202.html
Rewriterule ^carotenoid-complex-90$ blog_page203.html
Rewriterule ^carotenoid-complex-30$ blog_page204.html
Rewriterule ^tre-en-en120$ blog_page205.html
Rewriterule ^tre-en-en60$ blog_page206.html
Rewriterule ^all-natural-fibre$ blog_page207.html
Rewriterule ^aloe-vera-plus-orange$ blog_page208.html
Rewriterule ^ami-tone$ blog_page209.html
Rewriterule ^beta-guard$ blog_page210.html
Rewriterule ^botanical-healthy-balance$ blog_page211.html
Rewriterule ^cal-mag$ blog_page212.html
Rewriterule ^zinc$ blog_page213.html
Rewriterule ^all-c$ blog_page214.html
Rewriterule ^coq10$ blog_page215.html
Rewriterule ^cruciferous-plus$ blog_page216.html
Rewriterule ^feminine-herbal-complex$ blog_page217.html
Rewriterule ^fibre-tablets$ blog_page218.html
Rewriterule ^flavonoid-complex$ blog_page219.html
Rewriterule ^formula-iv-plus30$ blog_page220.html
Rewriterule ^formula-iv-plus60$ blog_page221.html
Rewriterule ^full-motion$ blog_page222.html
Rewriterule ^garlic-allium-complex$ blog_page223.html
Rewriterule ^lipotropic-adjunct$ blog_page225.html
Rewriterule ^masculine-herbal-complex$ blog_page226.html
Rewriterule ^neolifetea$ blog_page227.html
Rewriterule ^smart-8$ blog_page228.html
Rewriterule ^super-10-fragranced$ blog_page229.html
Rewriterule ^super-gro-1ltr$ blog_page230.html
Rewriterule ^super-gro-5ltr$ blog_page231.html
Rewriterule ^vita-guard$ blog_page232.html
Rewriterule ^vita-squares$ blog_page233.html
Rewriterule ^vitamin-b$ blog_page234.html
Rewriterule ^vitamin-c$ blog_page235.html
Rewriterule ^vitamin-e$ blog_page236.html
Rewriterule ^wheat-germ-oil$ blog_page237.html
Rewriterule ^weight-management$ blog_page238.html
Rewriterule ^heart-health$ blog_page239.html
Rewriterule ^digestive-health$ blog_page240.html
Rewriterule ^immunity$ blog_page241.html
Rewriterule ^energy&fitness$ blog_page242.html
Rewriterule ^womens-health$ blog_page243.html
Rewriterule ^mens-health$ blog_page244.html
Rewriterule ^childrens-health$ blog_page245.html
Rewriterule ^sharper-mind$ blog_page246.html
Rewriterule ^bone&joint$ blog_page247.html
Rewriterule ^vitamins&minerals$ blog_page248.html
Rewriterule ^specialty$ blog_page249.html
Rewriterule ^home-care$ blog_page250.html
Rewriterule ^magnesium-complex$ blog_page251.html
Rewriterule ^vegan-d$ blog_page252.html

##Force SSL
#Normal way (in case you need to deploy to NON-heroku)
RewriteCond %{HTTPS} !=on
#Heroku way
RewriteCond %{HTTP:X-Forwarded-Proto} !https
#If neither above conditions are met, redirect to https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]